<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COER Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #banner {
            width: 100%;
            height: 360px;
            object-fit: cover;
            margin-bottom: 13px;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <img class="img-fluid" style="padding-top: 20px; height: 310px;" id="banner" src="/static/maxresdefault.jpg">
    <div class="container">
    <!-- <h1 class="text-center mt-2 mb-4">COER University Careers</h1> -->
    
    <h2 id="about" class="text-center mt-2 mb-4">ABOUT COER University</h2>
    <div class="row">
        <div class="col-md-6">
    <p class="lead">COER University is located in Roorkee, Uttarakhand on the Delhi-Haridwar National Highway-58, 7 km from Roorkee. Roorkee is about 180 km North of Delhi and is known as the gateway town to the picturesque Himalayan Ranges. The university aims to introduce students to the world of emerging technologies, instilling in them the confidence to face new challenges and enabling them to shine in their chosen fields. With innovative infrastructure, exceptional international collaborations and an immersive research-driven academic environment, we provide an education that is well-rounded, extensive and practical. COER University believes in the all-round development of its students and leaves no stone unturned to achieve this.
    </p>
    </div>
        <div class="d-none d-md-block col-6">
    <img src="/static/645418c5-63c3-4975-bdd3-d43ae33ae429-5-1-800x565.png" style="height: 320px; width: 550px; border-radius: 8px;" alt="img">
    </div>
    </div>
    <h2 id="openpositions" class="text-center">Open Positions</h2>
    <div>
        {% for job in jobs%}
        {% include 'jobitem.html' %}
        {% endfor%}
    </div>
    <div class="text-center mb-2" >
    
        <a href="mailto:coer.careers@gmail.com?subject=Question%20reagarding%20the%20job%20applications&body=My%20name%20%3A%20%3Cyour%20name%20here%3E%0A%0AYour%20Questions%3A%20%3Cquestions%20here%3E%0A%0A" type="button" class="btn btn-primary btn-lg">Contact Us</a>

    <!-- <p class="mt-2"></p> -->
    </div>
</div>
{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
