<nav class="navbar navbar-expand-lg bg-body-tertiary rounded " aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="#">COER Careers</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#openpositions">Open Positions</a>
        </li>
        <li class="nav-item">
          <a href="https://coeruniversity.in/getadmission/faqs/" class="nav-link active" >FAQs</a>
        </li>
        <li class="nav-item">
          <a href="https://coeruniversity.in/career/" class="nav-link active">Career</a>
        </li>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button class="btn btn-primary">Button</button>
      </div>
    </div>
  </div>
</nav>
